<div class="w-100 border-r border-gray-200 p-8">
  <div class="flex flex-col justify-center h-full bg-white">
    <div class="text-center text-3xl text-gray-800 capitalize">
      <a href="/">laranhee</a>
    </div>
    <div class="text-center text-sm text-gray-600 uppercase">
      serial blog killer
    </div>
    <div class="text-center text-xl text-gray-700 uppercase">
      post
    </div>
    <div class="text-center text-xl text-gray-700 uppercase">
      book
    </div>
    <div class="text-center text-xl text-gray-700 uppercase">
      <a href="/about">about</a>
    </div>
    <div class="text-center text-xl text-gray-700 uppercase">
      <a href="https://laranhee.github.io/wiki">wiki</a>
    </div>
    <div class="text-center text-xl text-gray-700 uppercase">
      <a href="https://github.com/laranhee" target="_blank">
        <i class="fab fa-github text-3xl"></i>
      </a>
    </div>
  </div>
</div>
